/* Print Overrides */
* {
	background: none ! important;
	color: #111 ! important;
	margin:0;
}

/* remove unneeded page elements */
nav, #ribbon, #search, .login_link {
	display: none;
}

#container {
	margin:0 auto;
	text-align:left;
	width: auto;
	border:none;
	background: #FFF;
}

/* Header */

header {
	display: block;
	width: auto;
	height: auto;
	margin-top:  25px;
	margin-left: 45px;
	clear: none;
	float: none;
	background: #FFF;
}
#title_section, #sitename {
	margin:  0;
}
#title_section a:link:after, #title_section a:visited:after { content: none; }

/* Content */
#content {
	width: 588px;
	padding: 0;
	margin-bottom:20px;
	float: none;
}

.page_break_before {
	display: block;
	page-break-before: always;
}

/*Footer */
footer {
	display: block;
	width: auto;
	padding: 0;
	margin: 0 0 0 45px;
	background: #FFF;
} 

/* News section on home page */
/* DANT - overflow: hidden and _height: 1% added to fix IE6 and 7 problem with box model height rendering */
#news {
	margin:0;
	padding:0;
	background-color:none;
	clear:both;
	
	overflow: hidden;
	_height: 1%;
}
.news_row_title {
	width: 520px;
	margin-left: 20px;
	float: left;
}
.news_row {
	margin-left: 20px;
	padding-bottom: 15px;
}
.news h3.release_title, .news h3.release_title a, .news h3.event_title, .news h3.event_title a,
.news h3.event_date, .news h3.event_date a {
    line-height: 1.2em;
}
